#  Pandas Group Operations 

Earth Microbiome Project metadata

# 1)- Importing key libraries

In [1]:
#support both Python 2 and Python 3 with minimal overhead.
from __future__ import absolute_import, division, print_function

In [2]:
# I am an engineer. I care only about error not warning. So, let's be maverick and ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [3]:
# What's life without style :). So, let's add style to our dataframes
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
# first install: pip install version_information
%reload_ext version_information
%version_information pandas, numpy, seaborn, matplotlib, sys

Software versions
Python 3.6.3 64bit [MSC v.1900 64 bit (AMD64)]
IPython 7.4.0
OS Windows 10 10.0.16299 SP0
pandas 0.23.4
numpy 1.16.2
seaborn 0.9.0
matplotlib 2.1.0
sys The 'sys' distribution was not found and is required by the application
Thu Aug 22 17:05:07 2019 W. Europe Daylight Time

# 2)-Loading data

In [6]:
# set max rows
pd.set_option("display.max_rows", 20)

In [8]:
df = pd.read_csv('emp_qiime_mapping_subset_2k.tsv', sep='\t')
df.head()

,#SampleID,BarcodeSequence,LinkerPrimerSequence,Description,host_subject_id,study_id,title,principal_investigator,doi,ebi_accession,...,adiv_shannon,adiv_faith_pd,temperature_deg_c,ph,salinity_psu,oxygen_mg_per_l,phosphate_umol_per_l,ammonium_umol_per_l,nitrate_umol_per_l,sulfate_umol_per_l
0,550.L1S116.s.1.sequence,ATGCCTGAGCAG,GTGCCAGCMGCCGCGGTAA,sample_20 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,...,3.867414,12.457989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,550.L1S119.s.1.sequence,CAGCACTAAGCG,GTGCCAGCMGCCGCGGTAA,sample_23 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,...,3.265164,10.719448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,550.L1S164.s.1.sequence,ATGTACGGCGAC,GTGCCAGCMGCCGCGGTAA,sample_73 stool,M3,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,...,3.661124,14.214158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,550.L1S194.s.1.sequence,CGAAGACTGCTG,GTGCCAGCMGCCGCGGTAA,sample_105 stool,M3,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,...,4.439943,12.012602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,550.L1S20.s.1.sequence,ACGGTGAGTGTC,GTGCCAGCMGCCGCGGTAA,sample_112 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,...,3.327601,11.758069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.shape

(2000, 76)

# 3)- Data exploring

In [10]:
df.columns

Index(['#SampleID', 'BarcodeSequence', 'LinkerPrimerSequence', 'Description',
       'host_subject_id', 'study_id', 'title', 'principal_investigator', 'doi',
       'ebi_accession', 'target_gene', 'target_subfragment', 'pcr_primers',
       'illumina_technology', 'extraction_center', 'run_center', 'run_date',
       'read_length_bp', 'sequences_split_libraries',
       'observations_closed_ref_greengenes', 'observations_closed_ref_silva',
       'observations_open_ref_greengenes', 'observations_deblur_90bp',
       'observations_deblur_100bp', 'observations_deblur_150bp',
       'emp_release1', 'qc_filtered', 'subset_10k', 'subset_5k', 'subset_2k',
       'sample_taxid', 'sample_scientific_name', 'host_taxid',
       'host_common_name_provided', 'host_common_name', 'host_scientific_name',
       'host_superkingdom', 'host_kingdom', 'host_phylum', 'host_class',
       'host_order', 'host_family', 'host_genus', 'host_species',
       'collection_timestamp', 'country', 'latitude_deg', 'longitude_deg',
       'depth_m', 'altitude_m', 'elevation_m', 'env_biome', 'env_feature',
       'env_material', 'envo_biome_0', 'envo_biome_1', 'envo_biome_2',
       'envo_biome_3', 'envo_biome_4', 'envo_biome_5', 'empo_0', 'empo_1',
       'empo_2', 'empo_3', 'adiv_observed_otus', 'adiv_chao1', 'adiv_shannon',
       'adiv_faith_pd', 'temperature_deg_c', 'ph', 'salinity_psu',
       'oxygen_mg_per_l', 'phosphate_umol_per_l', 'ammonium_umol_per_l',
       'nitrate_umol_per_l', 'sulfate_umol_per_l'],
      dtype='object')

In [11]:
df = df[['#SampleID', 'study_id', 'observations_deblur_90bp', 'latitude_deg', 'longitude_deg',
         'temperature_deg_c', 'empo_3', 'envo_biome_2']]

In [12]:
df.shape

(2000, 8)

In [13]:
df.head(3)

,#SampleID,study_id,observations_deblur_90bp,latitude_deg,longitude_deg,temperature_deg_c,empo_3,envo_biome_2
0,550.L1S116.s.1.sequence,550,22567,40.015,-105.271,NaN,Animal distal gut,anthropogenic terrestrial biome
1,550.L1S119.s.1.sequence,550,27871,40.015,-105.271,NaN,Animal distal gut,anthropogenic terrestrial biome
2,550.L1S164.s.1.sequence,550,24134,40.015,-105.271,NaN,Animal distal gut,anthropogenic terrestrial biome

# 4)-Group Operations

### 4.1)- groupby

Group series using a series of columns or a mapper (dict or key function, apply given function to group, return result as series).

### 4.2)-melt

### 4.3)-pivot

### 4.4)-pivot_table

### 4.5)-stack

### 4.6)-unstack

### 4.7)-value_counts